@import "/src/common/a11y.css";
@import "/src/common/best-reset.css";

body {
  font-family: "Pretendard Variable", sans-serif;
}
.more-button {
  display: block;
  border: 1px solid #5d5d5d29;
  border-radius: 4px;
  padding-inline: 1.25rem;
  padding-block: 1rem;
  background: #fff;
  color: #000;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 140%;
  width: 160px;
  height: 52px;

  margin-inline: auto;
  margin-block: 25px;

  &:hover {
    background: #5d5d5d14;
  }

  span:hover {
    color: rgb(71 71 71);
    opacity: 0.7;
  }
}
