@import "/src/common/best-reset.css";
@import "/src/common/theme.css";

.container {
  margin: 0.875rem;

  @media (min-width: 540px) {
    width: 25rem;
    margin: auto;
  }
}

/* 제목 */
.login-title {
  img {
    width: 4rem;
    margin: 0 0 4.375rem 0;
  }
}

/* 이메일(아이디), 비밀번호 */
.input {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.25rem;
  margin-top: 3.75rem;

  input {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 0.25rem;
    height: 2.75rem;
    padding-left: 0.875rem;

    &:focus {
      border: 1px solid var(--color-black);
      outline: none;
    }
  }

  .login-id,
  .login-password {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 0;
    gap: 0.3125rem;

    ::placeholder {
      color: #9ca3af;
      font-size: var(--text-lg);
    }
  }

  .login-password {
    position: relative;

    .toggle-password {
      display: none;
    }

    .password-eye::after {
      content: "";
      background: url(/src/images/Iconimages/eyes.svg) no-repeat;
      position: absolute;
      right: 0.625rem;
      bottom: 0.875rem;
      width: 1.25rem;
      height: 1.25rem;
      cursor: pointer;
    }

    .toggle-password:checked + .password-eye::after {
      background: url(/src/images/Iconimages/eyes2.svg) no-repeat;
    }
  }

  /* 로그인 버튼 */
  .button-login-email {
    button {
      height: 3.125rem;
      border-radius: 0.25rem;
      font-weight: bold;
      cursor: pointer;
    }

    .login-button {
      color: var(--color-white);
      background: var(--color-black);
      margin: 3.75rem 0 0.625rem 0;
      width: 100%;
    }

    .email-button {
      color: var(--color-black);
      background: var(--color-white);
      border: 1px solid rgb(228, 228, 228);
      width: 100%;
    }
  }
}

/* 계정 찾기, 비밀번호 변경, 문의하기  */
.user-support {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 30px;

  a {
    color: var(--color-gray-3);
    text-decoration: none;
    font-size: 14px;
  }
}

.user-support .support:nth-child(n + 2) ::before {
  content: "|";
  color: var(--color-gray-3);
  padding-inline: 0.5rem;
}
