<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>29Magazine-component</title>
    <link rel="icon" href="../images/farvicon/29cm.ico" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="./style/29Magazine-component.css" />
  </head>
  <body>
    <!-- latest post -->
    <div class="magazine-latest-post">
      <a href="#">
          <img
            src="../images/29magazineimages/4d7LyEQG5wjkNWVKzcwjP1juA.avif"
            alt="안경쓴 여자"
          />
          <p class="post-title">29 스타일 레시피 Ep.34 봄으로 향하는 셔츠와 블라우스</p>
          <p class="post-text">외출이 기다리는 계절. 옷 입는 즐거움을 더해줄 봄 셔츠와 블라우스를 최대 55+10% 혜택으로 소개합니다.</p>
      </a>
    <div class="postinfo">
        <button type="button" class="post-btn">#스타일 레시피</button>
        <span class="date">2025.03.17</span>
    </div>
    
    <!-- news 탭들 -->
    <div class="magazine-fassion-news">
        <div class="left-text">
            <span class="news-title">29 맨 브랜드 레슨 Ep.03 벨리에</span>
            <span class="news-text">패션 크리에이터 호호시와 함께 남성 패션을 쉽고 재밌게!</span>
            <div> <button type="button" class="news-btn">#29 맨 브랜드 레슨</button> <span class="date">2025.02.28</span></div>
        </div>
        <img src="../images/29magazineimages/Feb-2025/GkSUWYc1FB6NphVTuVEnkJ5EM.avif"  alt="셔츠위에 회색 가디건을 입고있는 남자" />
        <span class="news-number">28</span>
    </div>

  </body>
</html>
