<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>best component</title>
    <link rel="icon" href="/src/images/farvicon/29cm.ico" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/component/style/best-component.css" />
  </head>
  <body>
    <!-- 메뉴 컴포넌트 -->
    <nav>
      <h2>여성의류</h2>
      <div class="best-nav">
        <input type="radio" id="all" name="category" />
        <label for="all">전체</label>

        <input type="radio" id="top" name="category" />
        <label for="top">상의</label>

        <input type="radio" id="outer" name="category" />
        <label for="outer">아우터</label>

        <input type="radio" id="pants" name="category" />
        <label for="pants">바지</label>

        <input type="radio" id="onepiece" name="category" />
        <label for="onepiece">원피스</label>

        <input type="radio" id="skirt" name="category" />
        <label for="skirt">스커트</label>

        <input type="radio" id="knitwear" name="category" />
        <label for="knitwear">니트웨어</label>

        <input type="radio" id="homewear" name="category" />
        <label for="homewear">홈웨어</label>

        <input type="radio" id="setup" name="category" />
        <label for="setup">셋업</label>

        <input type="radio" id="activewear" name="category" />
        <label for="activewear">액티브웨어</label>

        <input type="radio" id="underwear" name="category" />
        <label for="underwear">언더웨어</label>

        <input type="radio" id="exclusive" name="category" />
        <label for="exclusive">Exclusive</label>

        <input type="radio" id="jumpsuit" name="category" />
        <label for="jumpsuit">점프수트</label>

        <input type="radio" id="foreign" name="category" />
        <label for="foreign">해외브랜드</label>
      </div>
    </nav>

    <br />
    <!-- 버튼 컴포넌트 -->
    <div class="best-button-component">
      <input type="radio" id="realtime" name="time" />
      <label for="realtime">실시간</label>

      <input type="radio" id="daily" name="time" />
      <label for="daily">일간</label>

      <input type="radio" id="weekly" name="time" />
      <label for="weekly">주간</label>

      <input type="radio" id="monthly" name="time" />
      <label for="monthly">월간</label>
    </div>

    <br />
    <!-- 사이드바 컴포넌트 -->
    <aside class="sidebar-component">
      <h3>BEST</h3>
      <hr />
      <ul>
        <li><a href="/">여성의류</a></li>
        <li><a href="/">여성가방</a></li>
        <li><a href="/">여성신발</a></li>
        <li><a href="/">여성액세서리</a></li>
        <li><a href="/">남성의류</a></li>
        <li><a href="/">남성가방</a></li>
        <li><a href="/">남성신발</a></li>
        <li><a href="/">남성액세서리</a></li>
        <li><a href="/">주방,생활</a></li>
        <li><a href="/">가구,인테리어</a></li>
        <li><a href="/">뷰티</a></li>
        <li><a href="/">컴퓨터,디지털</a></li>
        <li><a href="/">가전</a></li>
        <li><a href="/">컬처</a></li>
        <li><a href="/">레저</a></li>
        <li><a href="/">유아,아동</a></li>
        <li><a href="/">푸드</a></li>
      </ul>
    </aside>

    <br />
    <!-- 카드 컴포넌트 250X250 -->
    <div class="best-card">
      <a href="">
        <div class="wrap">
          <img
            class="main-img"
            src="/src/images/bestpageimages/image1.webp"
            alt="의류 상품 광고"
          />
        </div>
        <!-- 12px 130% 700 black (hober: rgb(71 71 71) )  -->
        <h3>르</h3>
        <h3 class="context">
          [스페셜오더] Faux leather over-fit blazer 2colors
        </h3>
        <!-- 12px 130% 400 inherit -->
        <p class="original-price">315,000</p>
        <!-- 14px 140% 700  -->
        <p>
          <span class="discount">69%</span><span class="price">93,860</span>
        </p>
        <p class="icon-wrap">
          <img src="/src/images/bestpageimages/borderheart.svg" alt="하트" />
          <span>31,173</span>
          <img src="/src/images/bestpageimages/chat.svg" alt="리뷰" />
          <span>787</span>
        </p>
      </a>
    </div>
  </body>
</html>
