<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>button-component</title>
    <link rel="icon" href="/src/images/farvicon/29cm.ico" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/component/style/button-component.css" />
  </head>
  <body>
    <h1>button component</h1>
    <button class="more-button">
      <span>더보기</span>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="18"
          viewBox="0 0 19 18"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9.16083 12.8431L15.5853 6.41931L14.7363 5.57031L9.16083 11.1473L3.58533 5.57031L2.73633 6.41931L9.16083 12.8431Z"
            fill="black"
          />
        </svg>
      </span>
    </button>
  </body>
</html>
