<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cardlist-component</title>
    <link rel="icon" href="/src/images/farvicon/29cm.ico" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link
      rel="stylesheet"
      href="/src/component/style/card-list-component.css"
    />
  </head>
  <body>
    <h1>card component</h1>

    <div class="card-container">
      <div class="card-list-mobile">
        <div class="main-card1">
          <a href="">
            <img src="/src/images/test-images/mobile-magazine1.webp" alt="" />
            <div class="button-wrap">
              <button>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="41"
                  viewBox="0 0 40 41"
                  fill="none"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12.1553 20.3299L26.0779 6.40735L27.2564 7.58585L14.5123 20.3299L27.2564 33.0739L26.0779 34.2526L12.1553 20.3299Z"
                    fill="white"
                  />
                </svg>
              </button>
              <button>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="41"
                  viewBox="0 0 40 41"
                  fill="none"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M27.8453 20.3299L13.9227 34.2526L12.7441 33.0739L25.4883 20.3299L12.7441 7.58585L13.9227 6.40735L27.8453 20.3299Z"
                    fill="white"
                  />
                </svg>
              </button>
            </div>
            <div class="context-wrap">
              <!-- 32px 130% 700 (255,255,255) -->
              <h2 class="card-title">지금 가장 탁월한 셔츠</h2>
              <!-- 18px 150% 500 (255,255,255) -->
              <p class="card-context">남성의류 추천 컬렉션</p>
              <!-- 11px 130% 600 (255,255,255) / opacity: .6 -->
              <p class="card-number">
                <span>01</span>
                <span class="dot">.</span>
                <span class="num-after">51</span>
                <span class="bar"></span>
              </p>
            </div>
          </a>
        </div>

        <!-- 카드 컴포넌트 -->
        <div class="card">
          <a href="/src/component/main-card-component.html"
            ><img
              class="card-img"
              src="/src/images/cardimages/11f000ab4de0c89c8b63617b03ea7eb8.webp"
              alt=""
            />

            <h2>메인 타이틀</h2>
            <p class="card-context">
              벤앤쿠의 25SS 컬렉션은 섬세한 감성이 담긴 컬러와 디테일, 그리고
              부드러운 실루엣이 특징이에요.
            </p>
          </a>

          <ul>
            <!-- 카드 아이템 1 -->
            <li>
              <a href="/">
                <img
                  class="item-img"
                  src="/src/images/cardimages/11f0009f9422e4748b63e581e1cb25c0.webp"
                  alt="."
                />
                <div class="item-content-wrap">
                  <h3>벤앤쿠</h3>
                  <p class="item-context">
                    [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                  </p>
                  <p>
                    <span class="discount">10%</span
                    ><span class="price">199,452</span>
                  </p>
                </div>
              </a>

              <div class="like-state">
                <input type="checkbox" id="like1" class="like-icon" />
                <label for="like1">
                  <img
                    class="check default"
                    src="/src/images/Iconimages/grayborderheart.svg"
                    alt="찜하기 해제"
                  />
                  <img
                    class="check check-on"
                    src="/src/images/Iconimages/redheart.svg"
                    alt="찜하기 설정"
                  />
                </label>
                <p>10</p>
              </div>
            </li>

            <!-- 카드 아이템 2 -->
            <li>
              <a href="/">
                <img
                  class="item-img"
                  src="/src/images/cardimages/11f0009a8e5e179a8b63137daa53b902.webp"
                  alt="."
                />
                <div class="item-content-wrap">
                  <h3>벤앤쿠</h3>
                  <p class="item-context">
                    [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                  </p>
                  <p>
                    <span class="discount">10%</span
                    ><span class="price">199,452</span>
                  </p>
                </div>
              </a>

              <div class="like-state">
                <input type="checkbox" id="like2" class="like-icon" />
                <label for="like2">
                  <img
                    class="check default"
                    src="/src/images/Iconimages/grayborderheart.svg"
                    alt="찜하기 해제"
                  />
                  <img
                    class="check check-on"
                    src="/src/images/Iconimages/redheart.svg"
                    alt="찜하기 설정"
                  />
                </label>
                <p>10</p>
              </div>
            </li>
          </ul>
        </div>
        <!-- 카드 컴포넌트 -->
        <div class="card">
          <a href="/src/component/main-card-component.html"
            ><img
              class="card-img"
              src="/src/images/cardimages/11f000ab4de0c89c8b63617b03ea7eb8.webp"
              alt=""
            />

            <h2>메인 타이틀</h2>
            <p class="card-context">
              벤앤쿠의 25SS 컬렉션은 섬세한 감성이 담긴 컬러와 디테일, 그리고
              부드러운 실루엣이 특징이에요.
            </p>
          </a>

          <ul>
            <!-- 카드 아이템 1 -->
            <li>
              <a href="/">
                <img
                  class="item-img"
                  src="/src/images/cardimages/11f0009f9422e4748b63e581e1cb25c0.webp"
                  alt="."
                />
                <div class="item-content-wrap">
                  <h3>벤앤쿠</h3>
                  <p class="item-context">
                    [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                  </p>
                  <p>
                    <span class="discount">10%</span
                    ><span class="price">199,452</span>
                  </p>
                </div>
              </a>

              <div class="like-state">
                <input type="checkbox" id="like3" class="like-icon" />
                <label for="like3">
                  <img
                    class="check default"
                    src="/src/images/Iconimages/grayborderheart.svg"
                    alt="찜하기 해제"
                  />
                  <img
                    class="check check-on"
                    src="/src/images/Iconimages/redheart.svg"
                    alt="찜하기 설정"
                  />
                </label>
                <p>10</p>
              </div>
            </li>

            <!-- 카드 아이템 2 -->
            <li>
              <a href="/">
                <img
                  class="item-img"
                  src="/src/images/cardimages/11f0009a8e5e179a8b63137daa53b902.webp"
                  alt="."
                />
                <div class="item-content-wrap">
                  <h3>벤앤쿠</h3>
                  <p class="item-context">
                    [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                  </p>
                  <p>
                    <span class="discount">10%</span
                    ><span class="price">199,452</span>
                  </p>
                </div>
              </a>

              <div class="like-state">
                <input type="checkbox" id="like4" class="like-icon" />
                <label for="like4">
                  <img
                    class="check default"
                    src="/src/images/Iconimages/grayborderheart.svg"
                    alt="찜하기 해제"
                  />
                  <img
                    class="check check-on"
                    src="/src/images/Iconimages/redheart.svg"
                    alt="찜하기 설정"
                  />
                </label>
                <p>10</p>
              </div>
            </li>
          </ul>
        </div>
        <!-- 카드 컴포넌트 -->
        <div class="card">
          <a href="/src/component/main-card-component.html"
            ><img
              class="card-img"
              src="/src/images/cardimages/11f000ab4de0c89c8b63617b03ea7eb8.webp"
              alt=""
            />

            <h2>메인 타이틀</h2>
            <p class="card-context">
              벤앤쿠의 25SS 컬렉션은 섬세한 감성이 담긴 컬러와 디테일, 그리고
              부드러운 실루엣이 특징이에요.
            </p>
          </a>

          <ul>
            <!-- 카드 아이템 1 -->
            <li>
              <a href="/">
                <img
                  class="item-img"
                  src="/src/images/cardimages/11f0009f9422e4748b63e581e1cb25c0.webp"
                  alt="."
                />
                <div class="item-content-wrap">
                  <h3>벤앤쿠</h3>
                  <p class="item-context">
                    [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                  </p>
                  <p>
                    <span class="discount">10%</span
                    ><span class="price">199,452</span>
                  </p>
                </div>
              </a>

              <div class="like-state">
                <input type="checkbox" id="like5" class="like-icon" />
                <label for="like5">
                  <img
                    class="check default"
                    src="/src/images/Iconimages/grayborderheart.svg"
                    alt="찜하기 해제"
                  />
                  <img
                    class="check check-on"
                    src="/src/images/Iconimages/redheart.svg"
                    alt="찜하기 설정"
                  />
                </label>
                <p>10</p>
              </div>
            </li>

            <!-- 카드 아이템 2 -->
            <li>
              <a href="/">
                <img
                  class="item-img"
                  src="/src/images/cardimages/11f0009a8e5e179a8b63137daa53b902.webp"
                  alt="."
                />
                <div class="item-content-wrap">
                  <h3>벤앤쿠</h3>
                  <p class="item-context">
                    [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                  </p>
                  <p>
                    <span class="discount">10%</span
                    ><span class="price">199,452</span>
                  </p>
                </div>
              </a>

              <div class="like-state">
                <input type="checkbox" id="like6" class="like-icon" />
                <label for="like6">
                  <img
                    class="check default"
                    src="/src/images/Iconimages/grayborderheart.svg"
                    alt="찜하기 해제"
                  />
                  <img
                    class="check check-on"
                    src="/src/images/Iconimages/redheart.svg"
                    alt="찜하기 설정"
                  />
                </label>
                <p>10</p>
              </div>
            </li>
          </ul>
        </div>
        <!-- 카드 컴포넌트 -->
        <div class="card">
          <a href="/src/component/main-card-component.html"
            ><img
              class="card-img"
              src="/src/images/cardimages/11f000ab4de0c89c8b63617b03ea7eb8.webp"
              alt=""
            />

            <h2>메인 타이틀</h2>
            <p class="card-context">
              벤앤쿠의 25SS 컬렉션은 섬세한 감성이 담긴 컬러와 디테일, 그리고
              부드러운 실루엣이 특징이에요.
            </p>
          </a>

          <ul>
            <!-- 카드 아이템 1 -->
            <li>
              <a href="/">
                <img
                  class="item-img"
                  src="/src/images/cardimages/11f0009f9422e4748b63e581e1cb25c0.webp"
                  alt="."
                />
                <div class="item-content-wrap">
                  <h3>벤앤쿠</h3>
                  <p class="item-context">
                    [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                  </p>
                  <p>
                    <span class="discount">10%</span
                    ><span class="price">199,452</span>
                  </p>
                </div>
              </a>

              <div class="like-state">
                <input type="checkbox" id="like7" class="like-icon" />
                <label for="like7">
                  <img
                    class="check default"
                    src="/src/images/Iconimages/grayborderheart.svg"
                    alt="찜하기 해제"
                  />
                  <img
                    class="check check-on"
                    src="/src/images/Iconimages/redheart.svg"
                    alt="찜하기 설정"
                  />
                </label>
                <p>10</p>
              </div>
            </li>

            <!-- 카드 아이템 2 -->
            <li>
              <a href="/">
                <img
                  class="item-img"
                  src="/src/images/cardimages/11f0009a8e5e179a8b63137daa53b902.webp"
                  alt="."
                />
                <div class="item-content-wrap">
                  <h3>벤앤쿠</h3>
                  <p class="item-context">
                    [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                  </p>
                  <p>
                    <span class="discount">10%</span
                    ><span class="price">199,452</span>
                  </p>
                </div>
              </a>

              <div class="like-state">
                <input type="checkbox" id="like8" class="like-icon" />
                <label for="like8">
                  <img
                    class="check default"
                    src="/src/images/Iconimages/grayborderheart.svg"
                    alt="찜하기 해제"
                  />
                  <img
                    class="check check-on"
                    src="/src/images/Iconimages/redheart.svg"
                    alt="찜하기 설정"
                  />
                </label>
                <p>10</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- 뷰포트 540 이상일 시 -->
      <div class="card-list-web">
        <!-- 잡지 모음 -->
        <div class="magazine-list">
          <a href="/">
            <img src="/src/images/cardimages/mg1.webp" alt="" />
          </a>
          <a href="">
            <img src="/src/images/cardimages/mg2.webp" alt="" />
          </a>
          <a href=""><img src="/src/images/cardimages/mg3.webp" alt="" /></a>
          <a href="">
            <img src="/src/images/cardimages/mg4.webp" alt="" />
          </a>
          <a href="">
            <img src="/src/images/cardimages/mg5.webp" alt="" />
          </a>
          <a href=""><img src="/src/images/cardimages/mg6.webp" alt="" /></a>
        </div>

        <!-- 카드 리스트 1 -->
        <div class="card-list1">
          <a href="">
            <img
              class="ad-img"
              src="/src/images/cardimages/magazine1.webp"
              alt=""
            />
          </a>

          <!-- 카드 컴포넌트 -->
          <div class="card">
            <a href="/src/component/main-card-component.html"
              ><img
                class="card-img"
                src="/src/images/cardimages/11f000ab4de0c89c8b63617b03ea7eb8.webp"
                alt=""
              />

              <h2>메인 타이틀</h2>
              <p class="card-context">
                AI 코딩 도구를 활용하면 코드 생성 및 자동화, 개발 워크플로우와의
                통합 등이 가능하며 기존 개발 환경 대비 생산성을 높일 수
                있습니다.
              </p>
            </a>

            <ul>
              <!-- 카드 아이템 1 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009f9422e4748b63e581e1cb25c0.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>

              <!-- 카드 아이템 2 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009a8e5e179a8b63137daa53b902.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>
            </ul>
          </div>

          <!-- 카드 컴포넌트 -->
          <div class="card">
            <a href="/src/component/main-card-component.html"
              ><img
                class="card-img"
                src="/src/images/cardimages/11f000ab4de0c89c8b63617b03ea7eb8.webp"
                alt=""
              />

              <h2>메인 타이틀</h2>
              <p class="card-context">
                벤앤쿠의 25SS 컬렉션은 섬세한 감성이 담긴 컬러와 디테일, 그리고
                부드러운 실루엣이 특징이에요.
              </p>
            </a>

            <ul>
              <!-- 카드 아이템 1 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009f9422e4748b63e581e1cb25c0.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>

              <!-- 카드 아이템 2 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009a8e5e179a8b63137daa53b902.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>
            </ul>
          </div>
          <!-- 카드 컴포넌트 -->
          <div class="card">
            <a href="/src/component/main-card-component.html"
              ><img
                class="card-img"
                src="/src/images/cardimages/11f000ab4de0c89c8b63617b03ea7eb8.webp"
                alt=""
              />

              <h2>메인 타이틀</h2>
              <p class="card-context">
                벤앤쿠의 25SS 컬렉션은 섬세한 감성이 담긴 컬러와 디테일, 그리고
                부드러운 실루엣이 특징이에요.
              </p>
            </a>

            <ul>
              <!-- 카드 아이템 1 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009f9422e4748b63e581e1cb25c0.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>

              <!-- 카드 아이템 2 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009a8e5e179a8b63137daa53b902.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>
            </ul>
          </div>
          <!-- 카드 컴포넌트 -->
          <div class="card">
            <a href="/src/component/main-card-component.html"
              ><img
                class="card-img"
                src="/src/images/cardimages/11f000ab4de0c89c8b63617b03ea7eb8.webp"
                alt=""
              />

              <h2>메인 타이틀</h2>
              <p class="card-context">
                벤앤쿠의 25SS 컬렉션은 섬세한 감성이 담긴 컬러와 디테일, 그리고
                부드러운 실루엣이 특징이에요.
              </p>
            </a>

            <ul>
              <!-- 카드 아이템 1 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009f9422e4748b63e581e1cb25c0.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>

              <!-- 카드 아이템 2 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009a8e5e179a8b63137daa53b902.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>
            </ul>
          </div>

          <!-- 카드 컴포넌트 ver2 -->
          <div class="card3">
            <a href="">
              <div class="wrap">
                <img
                  class="main-img"
                  src="/src/images/cardimages/11f00099eeee0d728b63e32c4e10599f.webp"
                  alt=""
                />
                <input type="checkbox" class="like-icon" id="like-1" />
                <label for="like-1">
                  <img
                    class="check default"
                    src="/src/images/Iconimages/whiteheart.svg"
                    alt="찜하기 해제"
                  />
                  <img
                    class="check check-on"
                    src="/src/images/Iconimages/redheart.svg"
                    alt="찜하기 설정"
                  />
                </label>
              </div>
              <!-- 12px 130% 700 black (hober: rgb(71 71 71) )  -->
              <h3>헤르만의 정원</h3>
              <!-- 12px 130% 400 inherit -->
              <p class="context">정원 밀크티 베이스</p>
              <!-- 14px 140% 700  -->
              <p>
                <span class="discount">29%</span
                ><span class="price">14,200</span>
              </p>
              <p class="icon-wrap">
                <img src="/src/images/Iconimages/grayheart.svg" alt="" />
                <span>3</span>
                <img src="/src/images/Iconimages/star.svg" alt="" />
                <span>0</span>
                <span>(0)</span>
              </p>
            </a>
          </div>
        </div>

        <!-- 카드 리스트 2 -->
        <div class="card-list2">
          <a href="">
            <img
              class="ad-img"
              src="/src/images//cardimages/magazine2.webp"
              alt=""
            />
          </a>

          <!-- 카드 컴포넌트 -->
          <div class="card">
            <a href="/src/component/main-card-component.html"
              ><img
                class="card-img"
                src="/src/images/cardimages/11f000ab4de0c89c8b63617b03ea7eb8.webp"
                alt=""
              />

              <h2>메인 타이틀</h2>
              <p class="card-context">
                벤앤쿠의 25SS 컬렉션은 섬세한 감성이 담긴 컬러와 디테일, 그리고
                부드러운 실루엣이 특징이에요.
              </p>
            </a>

            <ul>
              <!-- 카드 아이템 1 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009f9422e4748b63e581e1cb25c0.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>

              <!-- 카드 아이템 2 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009a8e5e179a8b63137daa53b902.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>
            </ul>
          </div>
          <!-- 카드 컴포넌트 -->
          <div class="card">
            <a href="/src/component/main-card-component.html"
              ><img
                class="card-img"
                src="/src/images/cardimages/11f000ab4de0c89c8b63617b03ea7eb8.webp"
                alt=""
              />

              <h2>메인 타이틀</h2>
              <p class="card-context">
                벤앤쿠의 25SS 컬렉션은 섬세한 감성이 담긴 컬러와 디테일, 그리고
                부드러운 실루엣이 특징이에요.
              </p>
            </a>

            <ul>
              <!-- 카드 아이템 1 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009f9422e4748b63e581e1cb25c0.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>

              <!-- 카드 아이템 2 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009a8e5e179a8b63137daa53b902.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>
            </ul>
          </div>
          <!-- 카드 컴포넌트 -->
          <div class="card">
            <a href="/src/component/main-card-component.html"
              ><img
                class="card-img"
                src="/src/images/cardimages/11f000ab4de0c89c8b63617b03ea7eb8.webp"
                alt=""
              />

              <h2>메인 타이틀</h2>
              <p class="card-context">
                벤앤쿠의 25SS 컬렉션은 섬세한 감성이 담긴 컬러와 디테일, 그리고
                부드러운 실루엣이 특징이에요.
              </p>
            </a>

            <ul>
              <!-- 카드 아이템 1 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009f9422e4748b63e581e1cb25c0.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>

              <!-- 카드 아이템 2 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009a8e5e179a8b63137daa53b902.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>
            </ul>
          </div>
          <!-- 카드 컴포넌트 -->
          <div class="card">
            <a href="/src/component/main-card-component.html"
              ><img
                class="card-img"
                src="/src/images/cardimages/11f000ab4de0c89c8b63617b03ea7eb8.webp"
                alt=""
              />

              <h2>메인 타이틀</h2>
              <p class="card-context">
                벤앤쿠의 25SS 컬렉션은 섬세한 감성이 담긴 컬러와 디테일, 그리고
                부드러운 실루엣이 특징이에요.
              </p>
            </a>

            <ul>
              <!-- 카드 아이템 1 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009f9422e4748b63e581e1cb25c0.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>

              <!-- 카드 아이템 2 -->
              <li>
                <a href="/">
                  <img
                    class="item-img"
                    src="/src/images/cardimages/11f0009a8e5e179a8b63137daa53b902.webp"
                    alt="."
                  />
                  <div class="item-content-wrap">
                    <h3>벤앤쿠</h3>
                    <p class="item-context">
                      [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
                    </p>
                    <p>
                      <span class="discount">10%</span
                      ><span class="price">199,452</span>
                    </p>
                  </div>
                </a>

                <div class="like-state">
                  <input type="checkbox" id="like-icon" class="like-icon" />
                  <label for="like-icon">
                    <img
                      class="check default"
                      src="/src/images/Iconimages/grayborderheart.svg"
                      alt="찜하기 해제"
                    />
                    <img
                      class="check check-on"
                      src="/src/images/Iconimages/redheart.svg"
                      alt="찜하기 설정"
                    />
                  </label>
                  <p>10</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
