<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="icon" href="/src/images/farvicon/29cm.ico" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/component/style/card3-component.css" />
  </head>

  <body>
    <h1>card3 component</h1>

    <div class="card3">
      <div class="wrap">
        <img
          class="main-img"
          src="/src/images/itemimages/11efd96dd4f3ba9c8f0a1f57f5de06d6.jpg.svg"
          alt=""
        />
        <input type="checkbox" class="like-icon" id="/" />
        <label for="/">
          <img
            class="check default"
            src="/src/images/Iconimages/whiteheart.svg"
            alt="찜하기 해제"
          />
          <img
            class="check check-on"
            src="/src/images/Iconimages/redheart.svg"
            alt="찜하기 설정"
          />
        </label>
      </div>
      <!-- 12px 130% 700 black (hober: rgb(71 71 71) )  -->
      <h3>헤르만의 정원</h3>
      <!-- 12px 130% 400 inherit -->
      <p class="context">정원 밀크티 베이스</p>
      <!-- 14px 140% 700  -->
      <p><span class="discount">29%</span><span class="price">14,200</span></p>
      <p class="icon-wrap">
        <img src="/src/images/Iconimages/grayheart.svg" alt="" />
        <span>3</span>
        <img src="/src/images/Iconimages/star.svg" alt="" />
        <span>0</span>
        <span>(0)</span>
      </p>
    </div>
  </body>
</html>
