<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="icon" href="/src/images/farvicon/29cm.ico" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/component/style/card2-component.css" />
  </head>
  <body>
    <!-- 카드 컴포넌트 -->
    <div class="card">
      <a href="/src/component/main-card-component.html"
        ><img
          class="card-img"
          src="/src/images/cardimages/11f000ab4de0c89c8b63617b03ea7eb8.webp"
          alt="의류 상품 광고"
        />

        <h2>메인 타이틀</h2>
        <p class="card-context">
          벤앤쿠의 25SS 컬렉션은 섬세한 감성이 담긴 컬러와 디테일, 그리고
          부드러운 실루엣이 특징이에요.
        </p>
      </a>

      <ul>
        <!-- 카드 아이템 1 -->
        <li>
          <a href="/">
            <img
              class="item-img"
              src="/src/images/cardimages/11f0009f9422e4748b63e581e1cb25c0.webp"
              alt="의류 상품 광고"
            />
            <div class="item-content-wrap">
              <h3>벤앤쿠</h3>
              <p class="item-context">
                [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
              </p>
              <p>
                <span class="discount">10%</span
                ><span class="price">199,452</span>
              </p>
            </div>
          </a>

          <div class="like-state">
            <input type="checkbox" class="like-icon" id="like1" />
            <label for="like1">
              <img
                class="check default"
                src="/src/images/Iconimages/grayborderheart.svg"
                alt="찜하기 해제"
              />
              <img
                class="check check-on"
                src="/src/images/Iconimages/redheart.svg"
                alt="찜하기 설정"
              />
            </label>
            <p>10</p>
          </div>
        </li>

        <!-- 카드 아이템 2 -->
        <li>
          <a href="/">
            <img
              class="item-img"
              src="/src/images/cardimages/11f0009a8e5e179a8b63137daa53b902.webp"
              alt="의류 상품 광고"
            />
            <div class="item-content-wrap">
              <h3>벤앤쿠</h3>
              <p class="item-context">
                [29CM단독] Silk Organza Aura Scarf -Pink Tangerine
              </p>
              <p>
                <span class="discount">10%</span
                ><span class="price">199,452</span>
              </p>
            </div>
          </a>

          <div class="like-state">
            <input type="checkbox" class="like-icon" id="like2" />
            <label for="like2">
              <img
                class="check default"
                src="/src/images/Iconimages/grayborderheart.svg"
                alt="찜하기 해제"
              />
              <img
                class="check check-on"
                src="/src/images/Iconimages/redheart.svg"
                alt="찜하기 설정"
              />
            </label>
            <p>10</p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
