<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="icon" href="/src/images/farvicon/29cm.ico" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/component/style/card1-component.css" />
  </head>
  <body>
    <!-- 모바일 카드 형태 1 컨포넌트  -->

    <div class="main-card1">
      <a href="">
        <img
          src="/src/images/test-images/mobile-magazine1.webp"
          alt="의류 잡지 광고"
        />
        <div class="button-wrap">
          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="41"
              viewBox="0 0 40 41"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.1553 20.3299L26.0779 6.40735L27.2564 7.58585L14.5123 20.3299L27.2564 33.0739L26.0779 34.2526L12.1553 20.3299Z"
                fill="white"
              />
            </svg>
          </button>
          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="41"
              viewBox="0 0 40 41"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M27.8453 20.3299L13.9227 34.2526L12.7441 33.0739L25.4883 20.3299L12.7441 7.58585L13.9227 6.40735L27.8453 20.3299Z"
                fill="white"
              />
            </svg>
          </button>
        </div>
        <div class="context-wrap">
          <!-- 32px 130% 700 (255,255,255) -->
          <h2 class="card-title">지금 가장 탁월한 셔츠</h2>
          <!-- 18px 150% 500 (255,255,255) -->
          <p class="card-context">남성의류 추천 컬렉션</p>
          <!-- 11px 130% 600 (255,255,255) / opacity: .6 -->
          <p class="card-number">
            <span>01</span>
            <span class="dot">.</span>
            <span class="num-after">51</span>
            <span class="bar"></span>
          </p>
        </div>
      </a>
    </div>
  </body>
</html>
