<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="icon" href="/src/images/farvicon/29cm.ico" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/component/style/footer.css" />
  </head>
  <body>
    <!-- 🔥 모바일용 -->
    <div class="footer-mobile">
      <nav class="footer-nav">
        <a href="/">개인정보 처리방침</a>
        <a href="/">이용약관</a>
        <a href="/">분쟁해결기준</a>
        <a href="/">안전거래센터</a>
        <a href="/">결제대행 위탁사</a>
      </nav>
      <div class="footer-company">
        <p>상호명: 주식회사 무신사 (MUSINSA Co., Ltd.)</p>
        <p>
          사업장소재지: 서울특별시 성동구 아차산로 13길 11, 1층 (성수동2가,
          무신사캠퍼스)
        </p>
        <p>팩스: 070-8622-7737</p>
        <p>사업자등록번호: 211-88-79575</p>
        <p>
          통신판매업신고: 2022-서울성동-01952
          <a href="/" class="button">사업자정보확인</a>
        </p>
        <p>전화번호: 1660-2929</p>
        <p>이메일: customer@29cm.co.kr</p>
        <p>대표: 조만호, 박준모</p>
        <p>개인정보 보호책임자: 이재환</p>
        <p>호스팅서비스: (주)무신사</p>
        <p>
          일부 상품의 경우 29CM는 통신판매의 당사자가 아닌 통신판매중개자로서
          상품, 상품정보, 거래에 대한 책임이 제한될 수 있으므로, 각 상품
          페이지에서 구체적인 내용을 확인하시기 바랍니다.
        </p>
      </div>
    </div>
    <!-- 🔥 모바일용 끝-->

    <!-- 🔥 웹용 시작-->
    <div class="footer-web">
      <div class="footer-customer">
        <p class="footer-title">고객센터 <strong>1660-2929</strong></p>
        <p class="footer-time">
          운영시간 : 평일 09:00 - 18:00 (점심시간 12:00 - 13:00 제외)
        </p>
        <div class="btn-icons">
          <div class="footer-buttons">
            <button class="btn">FAQ</button>
            <button class="btn">1:1 문의</button>
          </div>
          <div class="sns-icons">
            <img src="/src/images/footerimages/InstargramIcon.svg" alt="" />
            <img src="/src/images/footerimages/youtubeIcon.svg" alt="" />
            <img src="/src/images/footerimages/appleIcon.svg" alt="" />
            <img src="/src/images/footerimages/playstoreIcon.svg" alt="" />
          </div>
        </div>
      </div>

      <div class="footer-links">
        <div class="footer-notice-column">
          <div class="footer-column">
            <p class="footer-link-title">NOTICE</p>
            <ul class="footer-notice">
              <li>
                [공지] 무통장 입금 이용 가능한 은행 제외 안내
              </li>
              <li>[공지] 29CM 고객센터 전화번호 변경 안내</li>
              <li>
                [공지] 29CM 안전 거래 정책 위반 행위에 대한 조사 및 제재 사항 안내
              </li>
              <li>[공지] 2025 설 연휴 고객센터 휴무 및 배송/반품 일정 안내</li>
              <li>
                [공지] 개인정보 처리방침 개정 예정 안내 (시행일: 2024년 10월 23일)
              </li>
            </ul>
          </div>
        </div>

        <div class="footer-etc-column">
          <div class="footer-column">
            <p class="footer-link-title">ABOUT US</p>
            <ul>
              <li>29CM 소개</li>
              <li>인재채용</li>
              <li>상시 할인 혜택</li>
            </ul>
          </div>
          <div class="footer-column">
            <p class="footer-link-title">MY ORDER</p>
            <ul>
              <li>주문배송</li>
              <li>취소/교환/반품 내역</li>
              <li>상품 리뷰 내역</li>
              <li>증빙서류발급</li>
            </ul>
          </div>
          <div class="footer-column">
            <p class="footer-link-title">MY ACCOUNT</p>
            <ul>
              <li>회원정보수정</li>
              <li>회원등급</li>
              <li>마일리지현황</li>
              <li>쿠폰</li>
            </ul>
          </div>
          <div class="footer-column">
            <p class="footer-link-title">HELP</p>
            <ul>
              <li>1:1 문의</li>
              <li>마케팅 제휴, 입점, 대량 주문 문의</li>
              <li>상품 Q&A내역</li>
              <li>공지사항</li>
              <li>FAQ</li>
              <li>고객의 소리</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-web-nav">
        <nav class="footer-nav">
          <a href="/">개인정보처리방침</a>
          <a href="/">이용약관</a>
          <a href="/">분쟁해결기준</a>
          <a href="/">안전거래센터</a>
          <a href="/">결제대행 위탁사</a>
        </nav>
        <div class="footer-web-company">
          <div>
            상호명: 주식회사 무신사 (MUSINSA Co., Ltd.)   사업장소재지: 서울특별시 성동구 아차산로 13길 11,
            1층 (성수동2가, 무신사캠퍼스)    팩스: 070-8622-7737     사업자등록번호:
            211-88-79575
          </div>
          <p>
            통신판매업신고: 2022-서울성동-01952
            <a href="/" class="button">사업자정보확인</a>
          </p>

          전화번호: 1660-2929
          이메일: customer@29cm.co.kr
          대표: 조만호, 박준모
          개인정보 보호책임자: 이재환
          호스팅서비스: (주)무신사, 상품정보, 거래에 대한 책임이 제한될 수 있으므로, 각 상품
            페이지에서 구체적인 내용을 확인하시기 바랍니다.
          </p>
          <p>일부 상품의 경우 29CM는 통신판매의 당사자가 아닌 통신판매중개자로서 상품, 상품정보, 거래에 대한 책임이 제한될 수 있으므로, 각 상품 페이지에서 구체적인 내용을 확인하시기 바랍니다.</p>
        </div>
      </div>
    </div>
  </body>
</html>
