<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer Component</title>
    <link rel="icon" href="/src/images/farvicon/29cm.ico" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="./style/header-component.css" />
  </head>
  <body>
    <!-- 모바일 헤더 -->
    <div class="mobile">
      <div class="headercontext">
        <div class="apptextwrap">
          <span class="logotext">29</span>
          <span class="apptext"
            >29CM 앱 설치하고 <span class="redtext">15% </span>할인 받기</span
          >
        </div>
        <button class="showappbtn">앱으로 보기</button>
      </div>
    </div>

    <!-- 모바일 버전 sticky에 해당하는 부분 -->
    <div class="icon">
      <a href="../pages/main-page.html"
        ><img
          src="../images/logoimage/29Cm logo.svg"
          class="logoimage"
          alt="로고 이미지"
      /></a>
      <div class="mobileIcon">
        <a href="../pages/shoppingbag-page.html">
          <img
            width="13.5px"
            height="15.75px"
            src="../images/Iconimages/shopping-bag-Icon.svg"
            alt="ShoppingbagIcon"
            class="ShoppingbagIcon"
          />
        </a>

        <a href="#">
          <img
            width="14.03px"
            height="14.03px"
            src="../images/Iconimages/reading-glasses.svg"
            alt="SearchIcon"
          />
        </a>
      </div>
    </div>

    <!-- 웹 헤더 -->
    <header class="webheader">
      <div class="logo">
        <a href="../pages/main-page.html"
          ><img
            src="../images/logoimage/29Cm logo.svg"
            width="60"
            height="16"
            alt="29cm 로고 이미지"
        /></a>
        <ul class="Icons">
          <li class="MypageIcon" tabindex="0">
            <a href="../pages/mypage.html" tabindex="-1"
              ><img
                width="13.5px"
                height="14.63px"
                src="../../src/images/Iconimages/mypageIcon.svg"
                alt="My Page Icon"
            /></a>
            <a href="../pages/mypage.html" class="Icontext" tabindex="-1"
              >MY PAGE</a
            >
          </li>
          <li class="MylikeIcon" tabindex="0">
            <a href="../pages/like-page.html" tabindex="-1"
              ><img
                width="14.25px"
                height="12.92px"
                src="../../src/images/Iconimages/blackheartIcon.svg"
                alt="My Like Icon"
            /></a>
            <a href="../pages/like-page.html" class="Icontext" tabindex="-1"
              >MY LIKE</a
            >
          </li>
          <li class="ShoppingBagIcon" tabindex="0">
            <a href="../pages/shoppingbag-page.html" tabindex="-1"
              ><img
                width="13.5px"
                height="15.75px"
                src="../../src/images/Iconimages/shopping-bag-Icon.svg"
                alt="Shopping Bag Icon"
            /></a>
            <a
              href="../pages/shoppingbag-page.html"
              class="Icontext"
              tabindex="-1"
              >SHOPPING BAG</a
            >
          </li>
          <li class="loginIcon" tabindex="-1">
            <a href="../pages/login-page.html" tabindex="-1"
              ><img
                width="12px"
                height="15px"
                src="../../src/images/Iconimages/loginIcon.svg"
                alt="LoginIcon"
            /></a>
            <a href="../pages/login-page.html" class="Icontext" tabindex="-1"
              >LOGIN</a
            >
          </li>
          <li class="SearchIcon">
            <a href="#"
              ><img
                width="14.03px"
                height="14.03px"
                src="../../src/images/Iconimages/reading-glasses.svg"
                alt="Search Icon"
            /></a>
          </li>
        </ul>
      </div>

      <div class="headline">
        <ul>
          <li><a href="#">Special-Order</a></li>
          <li><a href="#">Showcase</a></li>
          <li><a href="#">PT</a></li>
          <li><a href="../pages/29Magazine.html">29Magazine</a></li>
        </ul>

        <a href="#" class="searchIcon"
          ><img
            width="34.29"
            height="34.3"
            src="../images/Iconimages/reading-glasses.svg"
            alt="검색 아이콘"
        /></a>
      </div>

      <div class="categorywrap">
        <ul class="category">
          <li><a href="../pages/best-page.html">BEST</a></li>
          <li><a href="../pages/women-page.html" tabindex="-1">WOMEN</a></li>
          <li><a href="#" tabindex="-1">MEN</a></li>
          <li><a href="#" tabindex="-1">INTERIOR</a></li>
          <li><a href="#" tabindex="-1">KITCHEN</a></li>
          <li><a href="#" tabindex="-1">ELECTRONICS</a></li>
          <li><a href="#" tabindex="-1">DIGITAL</a></li>
          <li><a href="#" tabindex="-1">BEAUTY</a></li>
          <li><a href="#" tabindex="-1">FOOD</a></li>
          <li><a href="#" tabindex="-1">LEISURE</a></li>
          <li><a href="#" tabindex="-1">KIDS</a></li>
          <li><a href="#" tabindex="-1">CULTURE</a></li>
          <li class="bar"></li>
          <li><a href="#" class="italic">Event</a></li>
          <li><a href="#" class="italic">Lookbook</a></li>
        </ul>
      </div>
    </header>
  </body>
</html>
