<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>info-component</title>
    <link rel="icon" href="/src/images/farvicon/29cm.ico" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/component/style/imfo-component.css" />
  </head>

  <body>
    <h1>info-component</h1>

    <div class="information">
      <h3>info title</h3>
      <ul>
        <li>
          Delivery 브랜드 업체발송은 상품설명에 별도로 기입된 브랜드 알림
          배송공지 기준으로 출고되고 브랜드마다 개별 배송비가 부여됩니다.
        </li>
        <li>
          Delivery 29CM 자체발송은 오후 2시까지 결제확인된 주문은 당일 출고되고
          5만원 이상 주문은 무료배송, 5만원 미만은 3,000원의 배송비가
          추가됩니다.
        </li>
        <li>
          SPECIAL ORDER, PT 등 예약주문은 상세설명의 출고일정을 확인하시기
          바랍니다.
        </li>
        <li>
          구두, 액세서리, 침구, 액자, 가구 등 상품설명의 제작기간을 숙지해주시기
          바랍니다.
        </li>
        <li>
          가구 및 일부 상품, 제주도를 포함한 도서산간 지역은 추가배송비
          입금요청이 있을 수 있습니다.
        </li>
      </ul>
    </div>
  </body>
</html>
