<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dialog 요소</title>
    <script type="module">
      // DOM 선택 부분
      const closeDialogButton = document.querySelector(".close-dialog");
      const panelDialog = document.querySelector(".panel-dialog");
      // 함수 구현 부분
      const openDialog = () => panelDialog.showModal();
      const closeDialog = () => panelDialog.close();
      // 이벤트 바인딩 부분
      closeDialogButton.addEventListener("click", closeDialog);
    </script>
    <link rel="icon" href="/src/images/farvicon/29cm.ico" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/component/style/modal-component.css" />
  </head>
  <body>
    <div class="dialog-area">
      <dialog class="panel-dialog" aria-labelledby="event" open>
        <p>
          이 사이트는 멋쟁이사자처럼 프론트엔드 부트캠프의 UI 프로젝트로
          제작되었습니다. 상업적인 목적이 아닌 학습용 프로젝트입니다.
        </p>
        <button type="button" class="close-dialog">닫기</button>
      </dialog>
    </div>
  </body>
</html>
