<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Melisa Bustier Knit Top_Black</title>
    <link rel="icon" href="/src/images/farvicon/29cm.ico" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/component/style/review-component.css" />
  </head>

  <body>
    <h1>리뷰 컴포넌트 QNA 컴포넌트</h1>
    <section class="review">
      <div class="review-num">
        <p>리뷰 (185)</p>
        <span class="red-star">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="10"
            height="10"
            viewBox="0 0 10 10"
            fill="none"
          >
            <g clip-path="url(#clip0_188_429)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.18923 3.42298L0 3.90991L2.30769 6.27529L1.76308 9.61529L4.61538 8.03837L7.46769 9.61529L6.92308 6.27529L9.23077 3.90991L6.04154 3.42298L4.61538 0.384521L3.18923 3.42298Z"
                fill="currentColor"
                stroke="currentColor"
              />
            </g>
            <defs>
              <clipPath id="clip0_188_429">
                <rect width="10" height="10" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="10"
            height="10"
            viewBox="0 0 10 10"
            fill="none"
          >
            <g clip-path="url(#clip0_188_429)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.18923 3.42298L0 3.90991L2.30769 6.27529L1.76308 9.61529L4.61538 8.03837L7.46769 9.61529L6.92308 6.27529L9.23077 3.90991L6.04154 3.42298L4.61538 0.384521L3.18923 3.42298Z"
                fill="currentColor"
                stroke="currentColor"
              />
            </g>
            <defs>
              <clipPath id="clip0_188_429">
                <rect width="10" height="10" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="10"
            height="10"
            viewBox="0 0 10 10"
            fill="none"
          >
            <g clip-path="url(#clip0_188_429)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.18923 3.42298L0 3.90991L2.30769 6.27529L1.76308 9.61529L4.61538 8.03837L7.46769 9.61529L6.92308 6.27529L9.23077 3.90991L6.04154 3.42298L4.61538 0.384521L3.18923 3.42298Z"
                fill="currentColor"
                stroke="currentColor"
              />
            </g>
            <defs>
              <clipPath id="clip0_188_429">
                <rect width="10" height="10" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="10"
            height="10"
            viewBox="0 0 10 10"
            fill="none"
          >
            <g clip-path="url(#clip0_188_429)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.18923 3.42298L0 3.90991L2.30769 6.27529L1.76308 9.61529L4.61538 8.03837L7.46769 9.61529L6.92308 6.27529L9.23077 3.90991L6.04154 3.42298L4.61538 0.384521L3.18923 3.42298Z"
                fill="currentColor"
                stroke="currentColor"
              />
            </g>
            <defs>
              <clipPath id="clip0_188_429">
                <rect width="10" height="10" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="10"
            height="10"
            viewBox="0 0 10 10"
            fill="none"
          >
            <g clip-path="url(#clip0_188_429)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.18923 3.42298L0 3.90991L2.30769 6.27529L1.76308 9.61529L4.61538 8.03837L7.46769 9.61529L6.92308 6.27529L9.23077 3.90991L6.04154 3.42298L4.61538 0.384521L3.18923 3.42298Z"
                fill="currentColor"
                stroke="currentColor"
              />
            </g>
            <defs>
              <clipPath id="clip0_188_429">
                <rect width="10" height="10" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </span>
      </div>
      <div class="review-filter">
        <div class="review-filter-wrap">
          <button class="toggle-button"></button>
          <p class="filter">내 맞춤 필터</p>
        </div>
        <button>체형별</button>
      </div>
      <!-- <div></div> -->
      <div class="review-context">
        <div class="left">
          <p class="init">
            <span class="red-star">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="10"
                viewBox="0 0 10 10"
                fill="none"
              >
                <g clip-path="url(#clip0_188_429)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M3.18923 3.42298L0 3.90991L2.30769 6.27529L1.76308 9.61529L4.61538 8.03837L7.46769 9.61529L6.92308 6.27529L9.23077 3.90991L6.04154 3.42298L4.61538 0.384521L3.18923 3.42298Z"
                    fill="black"
                    stroke="black"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_188_429">
                    <rect width="10" height="10" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="10"
                viewBox="0 0 10 10"
                fill="none"
              >
                <g clip-path="url(#clip0_188_429)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M3.18923 3.42298L0 3.90991L2.30769 6.27529L1.76308 9.61529L4.61538 8.03837L7.46769 9.61529L6.92308 6.27529L9.23077 3.90991L6.04154 3.42298L4.61538 0.384521L3.18923 3.42298Z"
                    fill="black"
                    stroke="black"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_188_429">
                    <rect width="10" height="10" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="10"
                viewBox="0 0 10 10"
                fill="none"
              >
                <g clip-path="url(#clip0_188_429)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M3.18923 3.42298L0 3.90991L2.30769 6.27529L1.76308 9.61529L4.61538 8.03837L7.46769 9.61529L6.92308 6.27529L9.23077 3.90991L6.04154 3.42298L4.61538 0.384521L3.18923 3.42298Z"
                    fill="black"
                    stroke="black"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_188_429">
                    <rect width="10" height="10" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="10"
                viewBox="0 0 10 10"
                fill="none"
              >
                <g clip-path="url(#clip0_188_429)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M3.18923 3.42298L0 3.90991L2.30769 6.27529L1.76308 9.61529L4.61538 8.03837L7.46769 9.61529L6.92308 6.27529L9.23077 3.90991L6.04154 3.42298L4.61538 0.384521L3.18923 3.42298Z"
                    fill="black"
                    stroke="black"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_188_429">
                    <rect width="10" height="10" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="10"
                viewBox="0 0 10 10"
                fill="none"
              >
                <g clip-path="url(#clip0_188_429)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M3.18923 3.42298L0 3.90991L2.30769 6.27529L1.76308 9.61529L4.61538 8.03837L7.46769 9.61529L6.92308 6.27529L9.23077 3.90991L6.04154 3.42298L4.61538 0.384521L3.18923 3.42298Z"
                    fill="black"
                    stroke="black"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_188_429">
                    <rect width="10" height="10" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </span>
            abc<span aria-hidden="true">****</span>
          </p>
          <p>옵션: [Color]Black [Size]One Size</p>
          <p>체형 : 167cm 55kg</p>
          <p>사이즈 잘 맞아요</p>
          <p class="end">셔츠를 잘 받았습니다. 감사합니다.</p>
        </div>
        <div class="right">
          <time datetime="2024.04.02">2024.04.02</time>
          <img src="/src/images/cardimages/i1-1.webp" alt="리뷰 사진" />
        </div>
      </div>
      <button class="review-more-button">
        <span>상품 리뷰 전체보기 (185)</span>
        <span> </span>
      </button>
    </section>

    <div class="blank"></div>

    <section class="qustion">
      <div class="q-title">
        <p><span>상품 Q&A</span><a href="">Q&A쓰기</a></p>
      </div>
      <div class="q-context">
        <p class="date">
          <time datetime="2025.03.19">2025.03.19</time><span>mint</span
          ><span aria-hidden="true">****</span>
        </p>
        <p class="title">[재입고문의]</p>
        <p class="context">언제 재입고 될까요?</p>
        <button>yes</button>
      </div>
      <div class="q-context">
        <p class="date">
          <time datetime="2025.03.19">2025.03.19</time><span>mint</span
          ><span aria-hidden="true">****</span>
        </p>
        <p class="title">[재입고문의]</p>
        <p class="context">
          <img
            src="/src/images/Iconimages/secret.svg"
            alt="비밀 열쇠 아이콘"
          />비밀글 입니다.
        </p>
        <button>yes</button>
      </div>
      <button class="review-more-button">
        <span>상품 Q&A 전체보기 (68)</span>
        <span></span>
      </button>
    </section>

    <div class="num-select" hidden>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li><img src="/src/images/Iconimages/right1.svg" alt="" /></li>
      </ul>
    </div>

    <div class="qustion-option" hidden>
      <ul>
        <li>ALL</li>
        <li>상품문의 (21)</li>
        <li>재입고문의 (22)</li>
        <li>사이즈문의 (2)</li>
        <li>배송문의 (22)</li>
        <li>기타 (1)</li>
      </ul>
    </div>
  </body>
</html>
