<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nav bar component</title>
    <link rel="icon" href="/src/images/farvicon/29cm.ico" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/component/style/table-component.css" />
  </head>

  <body>
    <h1>table component</h1>

    <div class="table">
      <h3>상품정보 보기</h3>
      <table>
        <caption>
          상품정보 보기
        </caption>
        <legend></legend>
        <tbody>
          <tr>
            <th>제품소재</th>
            <td>상세 페이지 참고</td>
          </tr>
          <tr>
            <th>제품소재</th>
            <td>상세 페이지 참고</td>
          </tr>
          <tr>
            <th>제품소재</th>
            <td>상세 페이지 참고</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
