<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>table-component</title>
    <link rel="icon" href="/src/images/farvicon/29cm.ico" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/component/style/table-component.css" />
  </head>

  <body>
    <h1>table component</h1>

    <div class="table">
      <h3>상품정보 보기</h3>
      <table class="product-info">
        <tr>
          <th>제품 소재</th>
          <td>상세 페이지 참고</td>
        </tr>
        <tr>
          <th>색상</th>
          <td>상세 페이지 참고</td>
        </tr>
        <tr>
          <th>치수</th>
          <td>상세 페이지 참고</td>
        </tr>
        <tr>
          <th>제조자</th>
          <td>(주) 하고하우스</td>
        </tr>
        <tr>
          <th>제조국</th>
          <td>대한민국</td>
        </tr>
        <tr>
          <th>세탁방법 및 취급시 주의사항</th>
          <td>상세 페이지 참고</td>
        </tr>
        <tr>
          <th>제조연월</th>
          <td>23.08.01</td>
        </tr>
        <tr>
          <th>품질보증기준</th>
          <td>상세 페이지 참고</td>
        </tr>
        <tr>
          <th>A/S 책임자와 전화번호</th>
          <td>상세 페이지 참고</td>
        </tr>
      </table>
    </div>
  </body>
</html>
